# better auth

BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001

# database
DATABASE_URL="postgresql://postgres:password@localhost:5432/sentry-shift"

# s3
S3URL=http://localhost:7000
ACCESSKEY_ID=minioadmin
SECRET_ACCESS_KEY=minioadmin
S3_REGION=auto,
BUCKET_NAME=my-bucket

